/*TABLE*/
* {
    box-sizing: border-box;
  }
  
  
  
  .column {
    float: left;
    /* width: 5; */
    padding: 10px;
    /* margin-top: -15px; */
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .btn {
    border: none;
    outline: none;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    /* bottom: 0; */
    left: 0;
    /* right: 0; */
    /* height: 100%;
    width: 100%; */
    opacity: 1;
    transition: .5s ease;
  }
  
  .overlay-new {
    position: absolute;
    margin-left: 3px;
    margin-top: -10px;
    top: 0;
    /* bottom: 0; */
    left: 0;
    /* right: 0; */
    /* height: 100%;
    width: 100%; */
    opacity: 1;
    transition: .5s ease;
  }
  
  span {
    display:inline-block;
    width:2.5px;
    height:2.5px;
    margin-right: 3px;
    position: relative;
    z-index: 10;
    /* margin-top: -150px; */
    /* vertical-align:middle; */
    /* margin: auto; */
    /* margin-bottom: 5px; */
    /* background-color:red; */
    /* margin-top: 10; */
    /* padding: 1px; */
    /* border-style: solid;
    border-color: green;
    border-width: 0.5px; */
  }
  