/* .container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.h {
  margin: 20x;
  padding: 20px;
  flex:0 0;
  border-style: solid;
  border-width: 1px;
  border-color: coral;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 110%;
  opacity: 1;
  transition: .5s ease;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle:before {
  content: ' \25CF';
  font-size: 3px;
}

.span-style{
  display: inline-block
} */








/*TABLE*/
* {
  box-sizing: border-box;
}

.Blink {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: blue;
  border-radius: 50%;
  animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

.column {
  float: left;
  width: 5;
  padding: 10px;
  /* margin-top: -15px; */
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  border: none;
  outline: none;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  /* bottom: 0; */
  left: 0;
  /* right: 0; */
  /* height: 100%;
  width: 100%; */
  opacity: 1;
  transition: .5s ease;
}

.overlay-new {
  position: absolute;
  /* margin-left: 300px; */
  top: 0;
  /* bottom: 0; */
  left: 0;
  /* right: 0; */
  /* height: 100%;
  width: 100%; */
  opacity: 1;
  transition: .5s ease;
}



/* #table{ 
  display: table; 
}
.tr{ 
  display: table-row; 
}
.td{ 
  display: table-cell; } */